/* Navbar Styles */
.bg-dark {
  background-color: #343a40;
}

.navbar {
  border-radius: 0px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  left: 0;
  line-height: 1.5;
  margin-bottom: 0px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}

.navbar-header {
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  margin-left: -15px!important;
}

.navbar-header a.navbar-brand {
  color: #fff!important;
  margin-left: 0px!important
}

/* Sidebar Styles */
#page-content-wrapper {
  padding: 15px;
  position: absolute;
  width: 100%;
}

#sidebar-wrapper {
  background: #f8f9fa;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .10);
  height: 100%;
  left: 16.3%;
  line-height: 1.5;
  margin-left: -16.3%;
  overflow-y: auto;
  padding: 48px 0 0;
  position: fixed;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 16.3%;
}

#wrapper.toggled #sidebar-wrapper {
    width: 16.3%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -16.3%;
}

.sidebar-nav {
  margin: 0;
  max-width: 16.3%;
  padding: 0;
  top: 0;
}

.sidebar-nav div a {
  display: block;
  text-decoration: none;
  color: #333;
}

.sidebar-nav div a.active,
.sidebar-nav div a:hover,
.sidebar-nav div a:focus {
  color: #007bff;
  text-decoration: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 16.3%;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 16.3%;
    margin-top: 20px;
    padding-left: 15px;
    line-height: 2;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/* Components Styles */
.google-map-container {
  height: 400px;
  width: 100%;
}

.map-pointer {
  width: 30px;
}

/* General Styles */

.mb-4 {
  margin-bottom: 4rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}